@page
@model kodiak.Pages.kodiakDB.lessonContent.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonContent[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonContent[0].Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonContent[0].Lesson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LessonContent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
